* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: linear-gradient( rgb(0, 125, 184), rgb(0, 10, 100));
}
  body {
    font-family:  sans-serif;
    font-size: 16px;
  }
    header {
      display: grid;
      justify-content: center;
    }
      header .title {
        text-align: center;
        font-size: 20px;
        margin: 5rem 0 2rem 0;
      }
        header .scoreboard {
          display: flex;
          align-items: center;
          justify-content: center;
        }
          header .scoreboard .score {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            margin: 2rem;
        }
    main .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
      .grid {
        display: grid;
        grid-template-columns: repeat(30, 20px);
        
      }
        .cell {
          width: 20px;
          height: 20px;
        }
        .yourGrid .cell:nth-child(2n) {
          background: rgb(255, 246, 114);
        }
        .yourGrid .cell:nth-child(2n + 1) {
          background: rgb(116, 255, 209);
        }
        .computersGrid .cell:nth-child(2n) {
          background: rgb(192, 192, 192);
        }
        .computersGrid .cell:nth-child(2n + 1) {
          background: rgb(139, 139, 139);
        }

  @media screen and (max-width: 900px) {
    .container {
      flex-direction: row;
    }
  }